<footer>
    Copyright © Jacy
    <div style="padding-top: 5px;">
        <a href="https://linkedin.com/in/jacyespinosa"><img src="https://img.icons8.com/ios-glyphs/32/4a90e2/linkedin.png"></a>
        <a href="https://github.com/jacyespinosa"><img src="https://img.icons8.com/ios-glyphs/32/4a90e2/github.png" alt="git-hub-icon"></a>
        <a href="https://twitter.com/jacyespinosa"><img src="https://img.icons8.com/ios-glyphs/32/4a90e2/twitter--v1.png"></a>
    </div>


</footer>
